MEZON_TOKEN=
MEZON_BOT_ID=


DB_HOST=
DB_PORT=
DB_NAME=
DB_USERNAME=
DB_PASSWORD=
ENABLE_SYNCHRONIZE=

MCP_SERVER_URL=
PORT=

RUNPOD_ENPOINT=
API_KEY=

MINIO_ENDPOINT=
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_BUCKET=
MINIO_FOLDER=
CDN_URL=
WEBHOOK_URL=
